.c-footer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@include media(m) {
		flex-direction: row;
	}
}

.c-footer__copy {
	width: 100%;

	@include media(m) {
		width: 35%;
	}
}

.c-footer__contact {
	width: 100%;
	display: flex;
	flex-direction: column;

	a {
		@include body();
		text-decoration: none;
	}

	@include media(m) {
		width: 35%;
	}
}

.c-footer__meta {
	padding: rem(40) 0;

	@include body();
}
