.c-wavy__wrapper {
	overflow: hidden;

	.c-wavy__title {
		display: block;
		margin-bottom: rem(-8);
	}
}

.c-wavy {
	width: 100%;
	margin: rem(9) auto;
	height: 10px;
	background: url("/assets/images/Wiggles.svg") repeat-x 0%;
	background-size: 100px 10px;
	display: inline-block;
	position: relative;
}

.c-wavy--logo {
	margin: rem(6) auto;
}

