<div class="c-cookie-notice" id="cookie-notice">

	<div class="c-cookie-notice__inner">

		<p class="c-cookie-notice__message">We use cookies for functional purposes on this site.</p>

		<div class="c-cookie-notice__controls">
			<a class="c-button c-button--link js-cookie-consent" href="/cookie-policy" data-cookie-consent="true">More information</a>
			<button class="c-button c-button--small js-cookie-consent" data-cookie-consent="true">I Accept</button>
		</div>

	</div>

</div>
