<header class="c-header">
	<div class="c-logo"></div>
	<h1 class="h1">We are Paper Ren</h1>
	<div class="c-menu">
		<div class="c-burger"></div>
		<nav class="c-nav">
			<ul>
				<li></li>
			</ul>
		</nav>
	</div>
</header>
