<header class="l-site-container">
	<div class="c-header">
		<a class="c-logo">
			<img src="/assets/images/Paper-Ren-Logo.png"/>
		</a>
		<div class="c-header__items">
			<h1 class="c-header__items-header h3">We are Paper Ren</h1>
			<div class="c-menu">
				<div class="c-burger">
					<span></span>
				</div>
				<nav class="c-nav">
					<ul>
						<li></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>
