<header class="l-site-container">
	<div class="c-header">
		<a href="{{ siteUrl }}" class="c-logo">
			<img src="/assets/images/Paper-Ren-Logo.png"/>
		</a>
		<div class="c-header__items">
			<div class="c-wavy__wrapper">
				<h1 class="c-header__items-header h3">We are Paper Ren</h1>
				<span class="c-wavy c-wavy--logo"></span>
			</div>

			<div class="c-menu">
				<div class="c-burger js-nav">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<nav class="c-nav js-nav-items">
					<ul>
						{% set aboutPage = craft.entries.id(8).one() %}
						{% set blogPage = craft.entries.id(6).one() %}
						<li>
							<a href="{{ aboutPage.url }}">About</a>
						</li>
						<li>
							<a href="{{ blogPage.url }}">Blog</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>
