{% import "_includes/macros" as macros %}

{% for block in entry.body.all() %}

	{% switch block.type %}

		{% case "heading" %}

			{% set level = attribute({
				1: { tag: 'h2', class: 'h2' },
				2: { tag: 'h3', class: 'h3' },
				3: { tag: 'h4', class: 'h4' },
			}, block.hx.value ?? 1) %}

			{{ tag(level.tag, {
				class: level.class,
				text: block.heading,
				id: block.heading|kebab,
			}) }}

		{% case "text" %}

			<div class="typeset">
				{{ block.text|trim }}
			</div>

		{% case "blockquote" %}

			<blockquote>
				<p>{{ block.quote|trim }}</p>
			</blockquote>

		{% case "image" %}

			{{ macros.img(block.image.one()) }}

	{% endswitch %}

{% endfor %}
