/**
 * Utilities - Spacing
 */

@each $key, $value in $spacing-map {
	.u-m-#{$key} {
		margin: rem($value);
	}

	.u-mv-#{$key} {
		margin-top: rem($value);
		margin-bottom: rem($value);
	}

	.u-mh-#{$key} {
		margin-right: rem($value);
		margin-left: rem($value);
	}

	.u-mt-#{$key} {
		margin-top: rem($value);
	}

	.u-mb-#{$key} {
		margin-bottom: rem($value);
	}

	.u-ml-#{$key} {
		margin-left: rem($value);
	}

	.u-mr-#{$key} {
		margin-right: rem($value);
	}

	.u-p-#{$key} {
		padding: rem($value);
	}

	.u-pv-#{$key} {
		padding-top: rem($value);
		padding-bottom: rem($value);
	}

	.u-ph-#{$key} {
		padding-right: rem($value);
		padding-left: rem($value);
	}

	.u-pt-#{$key} {
		padding-top: rem($value);
	}

	.u-pb-#{$key} {
		padding-bottom: rem($value);
	}

	.u-pl-#{$key} {
		padding-left: rem($value);
	}

	.u-pr-#{$key} {
		padding-right: rem($value);
	}
}
