// =============================================================================
// Variables
// =============================================================================

// Colors
$white: #fff;
$black: #000;

$body-background-color: $white;
$body-color: $black;
$placholder-image-color: #ececec;

// Spacing
// -------------------------------------------

$base-spacing: 10;
$spacing-map: (
	100: 10,
	200: 20,
	300: 30,
	400: 40,
	500: 50,
	600: 60,
	1000: 100,
);

// Layout
// -------------------------------------------

$global-gutter: 20;

// z-index
// -------------------------------------------

$z-index-map: (
	modal: 100,
);

// Breakpoints
// -------------------------------------------

$breakpoint-map: (
	s: only screen and (min-width: 20em),
	m: only screen and (min-width: 30em),
	l: only screen and (min-width: 50em),
);

// Typography
// -------------------------------------------


$base-font-size: 16;

$typography-map: (
	quicksand: (
		1: ( "font-size": 16, "line-height": 18 ),
		2: ( "font-size": 18, "line-height": 20 ),
		3: ( "font-size": 22, "line-height": 28 ),
		4: ( "font-size": 28, "line-height": 34 ),
		5: ( "font-size": 36, "line-height": 40 ),
		6: ( "font-size": 44, "line-height": 50 ),
	)
);
