// =============================================================================
// Variables
// =============================================================================

// Colors
$white: #fff;
$black: #000;

$body-background-color: $white;
$body-color: $black;
$placholder-image-color: #ececec;

// Spacing
// -------------------------------------------

$spacing-map: (
	100: 10,
	200: 20,
);

// Layout
// -------------------------------------------

$global-gutter: 15;

// z-index
// -------------------------------------------

$z-index-map: (
	modal: 100,
);

// Breakpoints
// -------------------------------------------

$breakpoint-map: (
	s: only screen and (min-width: 20em),
);

// Typography
// -------------------------------------------

$typography-map: (
	family-name: (
		100: ("font-size": 12, "line-height": 16),
		200: ("font-size": 14, "line-height": 20),
		300: ("font-size": 14, "line-height": 24),
	),
);
