{#
 # 404
 # =============================================================================
 #
 # Note: When devMode is enabled the Yii NotFoundHttpException messaage
 #       is displayed instead.
 #}

{% extends "_layouts/standard" %}

{% block content %}
	<main id="content">
		<section class="l-site-container">
			{% include "_includes/body" %}
		</section>
	</main>
{% endblock %}
