{#
 # 404
 # =============================================================================
 #
 # Note: When devMode is enabled the Yii NotFoundHttpException messaage
 #       is displayed instead.
 #}

{% extends "_layouts/standard" %}

{% block content %}
	<main id="content">
		{% include "_includes/body" %}
	</main>
{% endblock %}
