/**
 * Font Face
 * https://calendar.perfplanet.com/2016/no-font-face-bulletproof-syntax/
 */

// @font-face {
// 	font-family: "Font Family";
// 	src:
// 		url("opensans.woff2") format("woff2"),
// 		url("opensans.woff") format("woff");
// }

@font-face {
	font-family: "Quicksand";
	font-style: normal;
	font-weight: 500;
	src:
		url('../fonts/quicksand-medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/quicksand-medium.woff') format('woff'), /* Modern Browsers */
}
