@mixin quicksand($level) {
	@include typography("quicksand", $level);
	font-family: sans-serif;

	.fonts-loaded & {
		font-family: "Quicksand", sans-serif;
	}
}

@mixin h1() {
	@include quicksand(6);
}

@mixin h2() {
	@include quicksand(5);
}

@mixin h3() {
	@include quicksand(3);

	@include media(l) {
		@include quicksand(4);
	}
}

@mixin h4() {
	@include quicksand(2);

	@include media(l) {
		@include quicksand(3);
	}
}

@mixin h5() {
	@include quicksand(1);

	@include media(l) {
		@include quicksand(2);
	}
}

@mixin h6() {
	@include quicksand(1);

	@include media(l) {
		@include quicksand(7);
	}
}

@mixin body() {
	@include quicksand(1);
}

.h1 {
	@include h1();
}

.h2 {
	@include h2();
}

.h3 {
	@include h3();
}

.h4 {
	@include h4();
}

p {
	@include body();
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
	color: $green;
}

.typeset {
	a {
		text-decoration: underline;
	}

	p,
	li {
		font-size: 1rem;
	}

	p,
	ol,
	ul {
		margin-bottom: rem(50);
	}

	ol,
	ul {
		padding-left: em(40);
	}

	ol {
		list-style-type: decimal;
	}

	ul {
		list-style-type: disc;
	}
}
